-- VERIFICACAO DA ESTRUTURA DO BANCO PARA CRUD DE PRODUTOS

-- 1. Verificar estrutura da tabela products
SELECT 
    column_name,
    data_type,
    is_nullable,
    column_default
FROM information_schema.columns 
WHERE table_name = 'products' 
  AND table_schema = 'public'
ORDER BY ordinal_position;

-- 2. Verificar campos essenciais
SELECT 
    CASE 
        WHEN EXISTS(SELECT 1 FROM information_schema.columns WHERE table_name = 'products' AND column_name = 'id') 
        THEN '✅ Campo id existe'
        ELSE '❌ Campo id NÃO existe'
    END as campo_id,
    
    CASE 
        WHEN EXISTS(SELECT 1 FROM information_schema.columns WHERE table_name = 'products' AND column_name = 'name') 
        THEN '✅ Campo name existe'
        ELSE '❌ Campo name NÃO existe'
    END as campo_name,
    
    CASE 
        WHEN EXISTS(SELECT 1 FROM information_schema.columns WHERE table_name = 'products' AND column_name = 'sales_page_url') 
        THEN '✅ Campo sales_page_url existe'
        ELSE '❌ Campo sales_page_url NÃO existe'
    END as campo_sales_page_url,
    
    CASE 
        WHEN EXISTS(SELECT 1 FROM information_schema.columns WHERE table_name = 'products' AND column_name = 'affiliate_link') 
        THEN '✅ Campo affiliate_link existe'
        ELSE '❌ Campo affiliate_link NÃO existe'
    END as campo_affiliate_link,
    
    CASE 
        WHEN EXISTS(SELECT 1 FROM information_schema.columns WHERE table_name = 'products' AND column_name = 'thumbnail_url') 
        THEN '✅ Campo thumbnail_url existe'
        ELSE '❌ Campo thumbnail_url NÃO existe'
    END as campo_thumbnail_url,
    
    CASE 
        WHEN EXISTS(SELECT 1 FROM information_schema.columns WHERE table_name = 'products' AND column_name = 'status') 
        THEN '✅ Campo status existe'
        ELSE '❌ Campo status NÃO existe'
    END as campo_status,
    
    CASE 
        WHEN EXISTS(SELECT 1 FROM information_schema.columns WHERE table_name = 'products' AND column_name = 'is_active') 
        THEN '✅ Campo is_active existe'
        ELSE '❌ Campo is_active NÃO existe'
    END as campo_is_active;

-- 3. Verificar produtos existentes
SELECT 
    COUNT(*) as total_produtos,
    COUNT(CASE WHEN is_active = true THEN 1 END) as produtos_ativos,
    COUNT(CASE WHEN status = 'active' THEN 1 END) as produtos_status_active,
    COUNT(CASE WHEN status = 'archived' THEN 1 END) as produtos_arquivados
FROM products;

-- 4. Verificar estrutura da tabela product_offers
SELECT 
    column_name,
    data_type,
    is_nullable
FROM information_schema.columns 
WHERE table_name = 'product_offers' 
  AND table_schema = 'public'
ORDER BY ordinal_position;

-- 5. Verificar relacionamento products x product_offers
SELECT 
    p.id,
    p.name,
    p.status,
    p.is_active,
    COUNT(po.id) as total_offers
FROM products p
LEFT JOIN product_offers po ON p.id = po.product_id
GROUP BY p.id, p.name, p.status, p.is_active
ORDER BY p.created_at DESC
LIMIT 5;
